#galeri h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
  }
  
  #main-galeri {
    height: 80vh;
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--clr-primary);
  }
  
  #galeri .col {
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--clr-primary);
  }